@use "partial/variables";
@use "partial/mixins";
@use "partial/classes" as *;

.pointechs-contactus {
    width: 100%;
    background-color: #FFFFFF !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.pointechs-contactus>main {
    width: 95.3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

}

.pointechs-contactus>main>section {
    flex: 0 0 45%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 50%;
}

.pointechs-contactus>main>section:nth-child(1) {
    position: relative;
    top: 0;
    left: 0;
    margin: 45px 0 45px 0;
}

.contact-us-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-us-header>section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.contact-us-header>section>span {

    @extend %headerSide;
}

.contact-us-header>section>h1 {
    @include mixins.headlineAndParagraph(false, 1rem, 600, variables.$color2);
}

.contact-us-header>section>p {

    @include mixins.headlineAndParagraph(true, 20px, normal, #5E5E5E);
}

.contactus-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.contactus-form>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.contactus-form>div:last-of-type {
    margin-top: 10px
}

.contactus-form>div>label {

    @include mixins.headlineAndParagraph(true, 1rem, normal, #5E5E5E80);
    order: 1;
}

.contactus-form>div>input,
.contactus-form>div>textarea {
    width: 90%;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #5E5E5E80;
    order: 2;

    &:focus {
        border-bottom: 1px solid variables.$color1;
    }

    &:focus+label {
        color: variables.$color1;
    }
}


.contactus-form>div:last-of-type>button {
    @include mixins.button(#FFFFFF, variables.$color1, baseline, 1rem);
}

.pointechs-contactus>main>section:nth-child(2) {
    flex: 0 0 50%;
    padding: 0;
}

.pointechs-contactus>main>section:nth-child(2)>img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 50% 50%;
}

.input-is-invalid {
    border-bottom: 1px solid #f6003c !important;

}

@media screen and (max-width:1199px) {

    .pointechs-contactus>main {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .pointechs-contactus>main {
        width: 93%;
        gap: 20px;
    }

    .pointechs-contactus>main>section {
        width: 100%;
    }

    .pointechs-contactus>main>section:nth-child(2) {
        display: none;
    }

}