@use "partial/variables";
@use "partial/mixins";
@use "partial/classes" as *;
.feature-icon-container {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: variables.$color1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.feature-readmore-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: flex-start;
    gap: 20px;

}

.feature-modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;


}

.feature-modal-header>span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: #5E5E5E40;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.feature-readmore-modal>section:nth-child(2)>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.feature-readmore-modal>section:nth-child(2)>div>div {
    @extend .feature-icon-container
}

.feature-readmore-modal>section:nth-child(2)>div>h2 {
    @include mixins.headlineAndParagraph(false, 1rem, 600, variables.$color2);
    text-align: center;

}

.feature-readmore-modal>section:nth-child(2)>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
    list-style-type: none;

}

.feature-readmore-modal>section:nth-child(2)>ul>li {
    @include mixins.headlineAndParagraph(true, 1rem, normal, #5E5E5E);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.feature-readmore-modal>section:nth-child(2)>ul>li>p {
    @include mixins.headlineAndParagraph(true, 1.2rem, normal, #5E5E5E);
    margin-top: 15px;
    flex: 0 0 90%;
}