@use "partial/variables";
@use "partial/classes" as *;
@use "partial/mixins";

.how-pointechs-works {
    width: 100%;
    background-color: #FCFCFC;
    margin-top: -49px;
}

.how-pointechs-works>main {
    width: 91.8%;
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;


}

.how-pointechs-works>main>div {
    flex: 0 0 35%;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    width: 50%;
}

.how-pointechs-works>main>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 24px;
}

.how-pointechs-works>main>div:nth-of-type(2) {
    flex: 0 0 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.how-pointechs-works>main>div:nth-of-type(2)>section:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.how-pointechs-works>main>div:nth-of-type(2)>section:nth-child(1)>span {

    @extend %headerSide;
}

.how-pointechs-works>main>div:nth-of-type(2)>section:nth-child(1)>h1 {

    @include mixins.headlineAndParagraph(false, 1rem, 600, variables.$color2);
}

.how-pointechs-works>main>div:nth-of-type(2)>section:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.how-pointechs-works>main>div:nth-of-type(2)>section:nth-child(2)>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.how-pointechs-works>main>div:nth-of-type(2)>section:nth-child(2)>div>div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: variables.$color1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.how-pointechs-works>main>div:nth-of-type(2)>section:nth-child(2)>div>div>img {
    width: 40%;
    object-fit: cover;
    aspect-ratio: 1;
    object-position: 50% 50%;
}

.how-pointechs-works>main>div:nth-of-type(2)>section:nth-child(2)>div>p {
    @include mixins.headlineAndParagraph(true, 20px, normal, #5E5E5E);
}

@media screen and (max-width:1199px) {
    .how-pointechs-works>main {
        flex-direction: column;
    }

    .how-pointechs-works>main>div:nth-child(1) {
        order: 2;

    }

    .how-pointechs-works>main>div:nth-child(2) {
        order: 1;
    }
}

@media screen and (max-width:769px) {
    .how-pointechs-works>main>div:nth-child(1) {
        width: 90%;

    }
}