@use "partial/variables";
@use "partial/mixins";

.pointchs-home {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    // display: grid;
    //   grid-template-columns: repeat(auto-fit,minmax(min(100%,729px),1fr));
    ///  grid-template-columns: minmax(min(100%,789.975px),1fr) minmax(min(100%,729.225px),1fr);
    height: 650px;

    background: url("../assets//images/BG-en-img.webp");

    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FCFCFC;
    background-color: #F6F6F6;
}

.pointechs-home-ar {
    background: url("../assets//images/BG-ar-img.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FCFCFC;
    background-color: #F6F6F6;
}

.pointchs-home>div:nth-child(1) {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* position: absolute;*/
    height: 100%;
    padding: 0 0 0 85px;

}

.pointechs-home-ar>div:nth-child(1) {
    padding: 0 85px 0 0;
}

.pointchs-home>div:nth-child(1)>div {
    /*
    width: 43%;
    height: 50%;
    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pointchs-home>div:nth-child(1)>div>p:nth-child(1) {
    text-align: left;
    font-family: Poppins;
    font-size: 45px;
    line-height: 1.5;
    font-weight: bold;
    color: #27323C;
    text-transform: uppercase;
}

.pointechs-home-ar>div:nth-child(1)>div>p:nth-child(1) {
    text-align: right;
    font-size: 70px;
}

.pointchs-home>div:nth-child(1)>div>p:nth-child(1)>span {
    background-image: linear-gradient(to right top, #feb247, #ff993c, #ff7e39, #ff603c, #ff3a44);
}

.pointchs-home>div:nth-child(1)>div>p:nth-child(2) {
    text-align: left;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 600;
    color: #5E5E5E;
    /*   width: 75%;*/
    width: 100%;
    align-self: baseline;
    margin-left: 1px;
}

.pointechs-home-ar>div:nth-child(1)>div>p:nth-child(2) {
    text-align: right;
    font-size: 40px;
}
.get-started-btn-container{
    width: 100%;
}
.btn-get-started-now {
    /*
    width: 180px;
    height: 59px;
    background: variables.$color1;
    border-radius: 30px;
    align-self: baseline;
    text-align: left;
    font-family: Poppins;
    font-size: 18px;
    color: variables.$color2;
    */
    @include mixins.button(variables.$color2, variables.$color1, baseline, 18px)
}

/*
.pointchs-home>div:nth-child(2){
 width: 48%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    height: 100%;
}
.pointchs-home-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}
*/

@media screen and (max-width:768px) {
    .pointchs-home {
        padding: 156px 0 45px 0;
        height: 410px;
    }

    .pointchs-home>div:nth-child(1) {
        padding: 0 0 0 30px;
    }

    .pointechs-home-ar>div:nth-child(1) {
        padding: 0 30px 0 0;
    }
    .pointchs-home>div:nth-child(1)>div>p:nth-child(1) {
        font-size: 63px;
    }
}

@media screen and (max-width:740px) {

    .pointchs-home,
    .pointechs-home-ar {
        background: none;
        height: 374px;

    }

    .pointchs-home>div:nth-child(1) {
        padding: 0 0 0 22px;
    }

    .pointechs-home-ar>div:nth-child(1) {
        padding: 0 22px 0 0;
    }
}
/*
@media screen and (min-width:439px) {
    .pointchs-home>div:nth-child(1)>div>p:nth-child(1) {
        font-size: 34px;
    }
}
*/
@media screen and (max-width:438px) {
    .pointchs-home>div:nth-child(1)>div>p:nth-child(1) {
        font-size: 24px;
    }
    .pointechs-home-ar>div:nth-child(1)>div>p:nth-child(1) {
        font-size: 43px;
    }
    .pointchs-home>div:nth-child(1)>div>p:nth-child(2) {
        font-size: 23px;
    }

}