@use "partial/variables";
@use "partial/mixins";

.pointchs-home {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    // display: grid;
    //   grid-template-columns: repeat(auto-fit,minmax(min(100%,729px),1fr));
    ///  grid-template-columns: minmax(min(100%,789.975px),1fr) minmax(min(100%,729.225px),1fr);
    height: 650px;

    background: url("../assets//images/BG-en-img.webp");

    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FCFCFC;
    background-color: #F6F6F6;
}

.pointechs-home-ar {
    background: url("../assets//images/BG-ar-img.webp");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FCFCFC;
    background-color: #F6F6F6;
}

.pointchs-home>div:nth-child(1) {
    /*  flex: 0 0 100%;*/
    width: 91.8%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* position: absolute;*/
    height: 100%;
    padding: 10px;
    margin: auto;


}

/*
.pointechs-home-ar>div:nth-child(1) {
    padding: 0 85px 0 0;
}
*/
.pointchs-home>div:nth-child(1)>div {
    /*
    width: 43%;
    height: 50%;
    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pointchs-home>div:nth-child(1)>div>p:nth-child(1) {
    text-align: left;
    font-family: Poppins;
    font-size: 45px;
    line-height: 1.5;
    font-weight: bold;
    color: #27323C;
    text-transform: uppercase;
}

.pointechs-home-ar>div:nth-child(1)>div>p:nth-child(1) {
    text-align: right;
    font-size: 70px;
}

.pointchs-home>div:nth-child(1)>div>p:nth-child(1)>span {
    background-image: linear-gradient(to right top, #feb247, #ff993c, #ff7e39, #ff603c, #ff3a44);
}

.pointchs-home>div:nth-child(1)>div>p:nth-child(2) {
    text-align: left;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 600;
    color: #5E5E5E;
    /*   width: 75%;*/
    width: 100%;
    align-self: baseline;
    margin-left: 1px;
}

.pointechs-home-ar>div:nth-child(1)>div>p:nth-child(2) {
    text-align: right;
    font-size: 40px;
}

.get-started-btn-container {
    width: 100%;
}

.btn-get-started-now {
    /*
    width: 180px;
    height: 59px;
    background: variables.$color1;
    border-radius: 30px;
    align-self: baseline;
    text-align: left;
    font-family: Poppins;
    font-size: 18px;
    color: variables.$color2;
    */
    @include mixins.button(variables.$color2, variables.$color1, baseline, 18px)
}




@media screen and (max-width:768px) {

    .pointchs-home,
    .pointechs-home-ar {
        height: 435px;
        //background-position: 100% 50%;
    }

    .pointechs-home-ar {
        //background-position: 0 50%;
    }

    .pointchs-home>div:nth-child(1) {
        align-items: flex-end;
    }
}

@media screen and (max-width:604px) {
    .pointchs-home {
        background: none;
        height: 353px;
    }

    .pointchs-home>div:nth-child(1)>div>p:nth-child(1) {
        font-size: 22px;
    }

    .pointechs-home-ar>div:nth-child(1)>div>p:nth-child(1) {
        font-size: 40px;
    }

    .pointchs-home>div:nth-child(1)>div>p:nth-child(2) {
        font-size: 22px;
    }

    .pointechs-home-ar>div:nth-child(1)>div>p:nth-child(2) {
        font-size: 30px;
    }
}

@media screen and (max-width:1259px) {
    .pointchs-home {
        background-position: 95% 0;
    }

    .pointechs-home-ar {
        background-position: 0 50%;
    }
}