@use "partial/variables";
@use "partial/classes" as *;
@use "partial/mixins";

.pointechs-app {
    width: 100%;
    background-color: #F9F6F6;
    margin-top: -49px;
}

.pointechs-app>main {
    width: 91.8%;
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;


}

.pointechs-app>main>section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.pointechs-app>main>section>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1 0 50%;
}

.pointechs-app>main>section>div:nth-child(1)>section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.pointechs-app>main>section>div:nth-child(1)>section:nth-child(1)>span {

    @extend %headerSide;
}

.pointechs-app>main>section>div:nth-child(1)>section:nth-child(1)>h1 {

    @include mixins.headlineAndParagraph(false, 1rem, 600, variables.$color2);
}

.pointechs-app>main>section>div:nth-child(1)>section:nth-child(2) {
    flex-direction: column;
    gap: 0;
}

.pointechs-app>main>section>div:nth-child(1)>section:nth-child(2)>p {
    @include mixins.headlineAndParagraph(true, 20px, normal, #5E5E5E);
}

.pointechs-app>main>section+div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.pointechs-app>main>section+div>span {
    @include mixins.headlineAndParagraph(true, 20px, normal, #5E5E5E);
}

.pointechs-app>main>section+div>section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 25px
}

.link-btn {
    @include mixins.button(#FFFFFF, #082E3A, 'center', 1rem);
    border-radius: 46px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    -ms-border-radius: 46px;
    -o-border-radius: 46px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    
    min-width: 216px;
    height: 65px;
    
    
    &:hover {
        border: 1px solid variables.$color2 !important;
        color: variables.$color2 !important;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }

}
/*
.link-btn>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
}

.link-btn>div>span {

    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Poppins;


}

.link-btn>div>span:nth-of-type(2) {
    font-size: 1.2rem;
    font-weight: 600;
}
*/
.link-btn > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    aspect-ratio: 1/1;
}
.pointechs-app>main>section>div:nth-child(2)>img {
    width: 60%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

}

@media screen and (max-width:769px) {

    /*
    .pointechs-app>main>div {
        order: 1;
        align-items: center;
    }

    .pointechs-app>main>div:nth-child(1) {
        order: 2;
    }
*/
    .pointechs-app>main>section>div:nth-child(2)>img {
        width: 100%;
    }
}


@media screen and (max-width:660px) {
    .pointechs-app > main > section > div{
        align-items: center;
    }
    .pointechs-app>main>section>div:nth-child(2)>img {
        width: 60%;
    }
    .pointechs-app > main > section{
        flex-direction: column;
    }
    .pointechs-app>main>section+div>section{
     flex-direction: column;
     align-items: flex-start;
    }
}