@use "partial/variables";
@use "partial/classes" as *;
@use "partial/mixins";

.pointechs-welcome {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
}
.pointechs-welcome > div{
    width: 91.8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 30px;
}
.pointechs-welcome > div>div {
    flex: 0 0 45%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* min-height: 390px;*/

}


/*
.pointechs-welcome>div:nth-child(1) {
    position: relative;

}
*/
.media {
    /*
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
   /* height: 300px;*/
    position: relative;
}

.media-play-btn {
    position: absolute;
    top: 48%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.welcom-pointechs {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.welcom-pointechs>section:nth-child(1) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.welcom-pointechs>section:nth-child(1)>span {
    @extend %headerSide;
}

.welcom-pointechs>section:nth-child(1)>h1 {

    @include mixins.headlineAndParagraph(false, 1rem, 600, #27323C);
}


.welcom-pointechs>section:nth-child(2)>p {
    /*
    text-align: left;
    font-family: Poppins;
    line-height: 1.5;
    font-size: 1rem;
    color: #5E5E5E;
    */
    @include mixins.headlineAndParagraph(true, 1.1rem, normal, #5E5E5E);
}

@media screen and (max-width:1199px) {
    .pointechs-welcome > div {
        flex-direction: column;
     
    }
    .pointechs-welcome > div{
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

}

@media screen  and (max-width:768px){
    /*
    .media-play-btn {
        top: 45%;
        left: 42%;
    }
    */
}
@media screen  and (max-width:433px){
    
    .media-play-btn {
        top: 48%;
        left: 40%;
    }
    
}