@use "partial/variables";
@use "partial/mixins";
@use "partial/classes" as *;

.why-pointechs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.why-pointechs>main {
    width: 91.8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    height: 500px;

}

.why-pointechs>main>section:nth-child(1) {
    width: 95.9%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

}

.why-pointechs>main>section:nth-child(1)>div:nth-child(1) {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;

}

.why-pointechs>main>section:nth-child(1)>div:nth-child(1)>main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.why-pointechs>main>section:nth-child(1)>div:nth-child(1)>main>span {
    @extend %headerSide;
}

.why-pointechs>main>section:nth-child(1)>div:nth-child(1)>main>h1 {
    @include mixins.headlineAndParagraph(false, 1rem, 600, variables.$color2);
}

.why-pointechs>main>section:nth-child(1)>div:nth-child(1)>p {
    @include mixins.headlineAndParagraph(true, 20px, normal, #5E5E5E);
}

.why-pointechs>main>section:nth-child(1)>div:nth-child(2) {
    width: 50%;
    flex: 0 0 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.why-pointechs>main>section:nth-child(1)>div:nth-child(2)>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-position: 50% 50%;
}

.why-pointechs>main+section {
    width: 100%;
    background-color: variables.$color1;
    z-index: 0;
    max-height: 275px;
    padding: 20px;
}

.why-pointechs>main+section>main {
    width: 93%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.why-pointechs>main+section>main>p {
    width: 42%;
    @include mixins.headlineAndParagraph(true, 30px, 600, #FFFFFF);
}

.why-pointechs>main+section>main>button {
    @include mixins.button(#FFFFFF, variables.$color2, baseline, 1rem);
}



@media screen and (max-width:1199px) {
    .why-pointechs>main {
        height: auto;

    }

    .why-pointechs>main>section:nth-child(1) {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width:769px) {
    .why-pointechs>main>section>div:nth-child(2) {
        width: 90% !important;
    }

    .why-pointechs>main+section>main>p {
        width: 100%;
        text-align: center !important;
    }

    .why-pointechs>main+section>main>button {
        margin: auto;
    }

}

@media screen and (max-width:600px) {
    .why-pointechs>main>section>div:nth-child(2) {
        display: none !important;
    }
}