@use "partial/variables";
@use "partial/mixins";
@use "partial/classes" as *;

.why-pointechs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;

}

.why-pointechs>section:nth-child(1) {
    width: 94%;
    
    position: relative;

    z-index: 1;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.why-pointechs>section:nth-child(1)>div:nth-child(1) {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.why-pointechs>section:nth-child(1)>div:nth-child(1)>main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.why-pointechs>section:nth-child(1)>div:nth-child(1)>main>span {
    /*
    width: 8px;
    height: 52px;
    background: transparent linear-gradient(9deg, variables.$color1 0%, variables.$color1 51%, #E23D43 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    */
    @extend %headerSide;
}

.why-pointechs>section:nth-child(1)>div:nth-child(1)>main>h1 {
    /*
    text-align: left;
    font-family: Poppins;
    font-family: 600px;
    line-height: 1.5;
    letter-spacing: 0px;
    color: variables.$color2;
    */
    @include mixins.headlineAndParagraph(false, 1rem, 600, variables.$color2);
}

.why-pointechs>section:nth-child(1)>div:nth-child(1)>p {
    /*
    text-align: left;
    font-size: 20px;
    font-family: Poppins;
    color: #5E5E5E;
    */
    @include mixins.headlineAndParagraph(true, 20px, normal, #5E5E5E);
}

.why-pointechs>section:nth-child(1)>div:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.why-pointechs>section:nth-child(1)>div:nth-child(2)>img {
    object-fit: cover;
    width: 85%;
    height: 85%;
    aspect-ratio: 1;
}

.placeholder-section {
    width: 100%;
    height: 235px;

}

.why-pointechs>section:nth-of-type(2) {
    width: 100%;
    background-color: variables.$color1;
    z-index: 0;
    max-height: 275px;
    padding: 20px;
    margin-top: -140px;
}

.why-pointechs>section:nth-of-type(2)>main {
    width: 91%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.why-pointechs>section:nth-of-type(2)>main>p {
    /*
    text-align: left;
    font-family: Poppins;
    font-weight: 600px;
    line-height: 1.5;
    color: #FFFFFF;
    font-size: 36px;
 
    */
    width: 42%;
    @include mixins.headlineAndParagraph(true, 30px, 600, #FFFFFF);
}

.why-pointechs>section:nth-of-type(2)>main>button {
    /*
    width: 165px;
    height: 48px;
    background: variables.$color2;
    border-radius: 30px;
    text-align: left;
    font-family: Poppins;
    font-size: 1rem;
    line-height: 1.5;
    color: #FFFFFF;
    */
    @include mixins.button(#FFFFFF, variables.$color2, baseline, 1rem);
}
@media screen and (max-width:1400px) {
    .why-pointechs>section:nth-of-type(2) {
        margin-top: 0;
    }
}
@media screen and (max-width:768px) {
    .why-pointechs>section:nth-child(1) {
        flex-wrap: wrap;
    }



    .why-pointechs>section:nth-child(1)>div:nth-child(1) {
        flex: 0 0 100%;
    }
    .why-pointechs>section:nth-of-type(2)>main>p{
        width: 100%;
        text-align: center;
    }
    .why-pointechs>section:nth-of-type(2)>main > button{
        margin: auto;
    }
}